.header {
  padding-top: 34px;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__link {
  display: block;
  transition: opacity 0.3s ease;
}

.header__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__image {
  width: 254px;
  height: 70px;
  display: block;
}

@media (max-width: 1023px) {
  .header {
    padding-top: 30px;
  }

  .header__image {
    width: 254px;
    height: 66px;
  }
}

@media (max-width: 543px) {
  .header {
    padding-top: 20px;
  }

  .header__image {
    width: 188px;
    height: 52px;
  }
}
