.intro {
  width: 830px;
  height: 482px;
  margin-bottom: 132px;
  margin-left: 148px;
  margin-right: 302px;
  margin-top: 100px;
}

.title__intro {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  width: 830px;
  height: 116px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.quote__intro {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  width: 737.78px;
  height: 68px;
  margin: 0;
  padding-bottom: 10px;
}

.author__intro {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  color: #ffffff;
  width: 732px;
  height: 34px;
  margin: 0;
  padding-bottom: 32px;
}

.description__intro {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  width: 721.74px;
  height: 182px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 90px 24px 128px 24px;
  }
}
