.intro {
  padding: 100px 148px 0;
}

.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.074;
  margin: 0;
  max-width: 830px;
}

.intro__quote {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.417;
  margin: 40px 0 0;
  padding: 0;
  max-width: 738px;
  font-style: normal;
  quotes: none;
}

.intro__author {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.417;
  margin: 10px 0 0;
  text-align: right;
  max-width: 738px;
}

.intro__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  margin: 32px 0 0;
  max-width: 722px;
}

@media (max-width: 1023px) {
  .intro {
    padding: 88px 26px 0;
  }

  .intro__title {
    font-size: 45px;
    line-height: 1.089;
    max-width: 707px;
  }

  .intro__quote {
    font-size: 24px;
    line-height: 1.417;
    margin-top: 50px;
    max-width: 720px;
  }

  .intro__author {
    margin-top: 10px;
    max-width: 720px;
  }

  .intro__text {
    margin-top: 32px;
    max-width: 720px;
  }
}

@media (max-width: 543px) {
  .intro {
    padding: 62px 16px 0;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.094;
    max-width: 288px;
  }

  .intro__quote {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 40px;
    max-width: 288px;
  }

  .intro__author {
    margin-top: 10px;
    max-width: 288px;
  }

  .intro__text {
    margin-top: 32px;
    max-width: 288px;
  }
}
