.lead {
  display: flex;
  flex-direction: column;
}

.title__lead {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}

.description__lead {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.image__lead {
}
