.lead {
  display: flex;
  flex-direction: column;
  max-width: 77%;
  height: 983px;
  margin: 0 auto;
}

.title__lead {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}

.description__lead {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.image__lead {
}
